@demoRouter: demo-router;

.@{demoRouter} {
  &-nav {
    width: 400px;
    margin: auto;
    text-align: center;
    & li {
      display: inline-block;
      width: 80px;
      height: 30px;
      background: #666;
      border-radius: 30px;
      text-align: center;
      line-height: 30px;
      color: #fff;
      margin-right: 10px;
      & a {
        color: #fff;
      }
    }
  }
  &-wap {
    position: relative;
    transition: height .5s;
    width: 400px;
    margin: auto;
  }
  &-child{
    //position: absolute;
    & h1{
      margin: 0;

    }
  }
  &-add{
    position: relative;
    width: 100px;
    height: 20px;
    margin: 20px auto;
    cursor: pointer;
  }
  &-element{
    //position: absolute;
    width: 100%;
    top:160px;
  }
}
